<div class="container-fluid">
  <div class="container d-flex justify-content-between title-button mt-5">
    <h3 class="">Taxes</h3>
    <button
      class="btn btn-primary"
      *ngIf="formView.listView"
      (click)="createNew('new')"
    >
      Add Taxes
    </button>
    <button
      class="btn btn-primary"
      *ngIf="formView.createView"
      (click)="createNew('')"
    >
      Close
    </button>
  </div>

  <hr />

  <!-- ================ loading spinner =============== -->
  <div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- ================ list of packages ============= -->
  <table
    *ngIf="loading == false && formView.listView"
    id="excel-table"
    class="table table-bordered center table-hover fadeInTop mt-1"
    cellspacing="5"
    width="100%"
  >
    <thead class="thead-dark fw-bolder text-center">
      <tr class="fw-bolder">
        <th>#</th>
        <th>NAME</th>
        <th>PERCENTAGE (%)</th>
        <!-- <th>AMOUNT (GHC)</th> -->
        <th>ACTION</th>
        <!--   <th>ACTION</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let itemValue of itemsList; index as i">
      <tr>
        <td class="align-middle" scope="row">{{ 1 + i }}</td>
        <td class="align-middle">
          {{ itemValue.name }}
        </td>
        <td class="align-middle text-end">
          {{ itemValue.percentage }}
        </td>
        <td class="align-middle text-end">
          <!-- ============ edit button ========= -->
          <button
            type="button"
            (click)="editFunction(itemValue)"
            class="btn btn-success btn-sm m-1"
          >
            <i class="bi bi-pen-fill"></i>
          </button>

          <!-- ============ delete button ========== -->
          <button
            class="btn btn-danger btn-sm m-1"
            (click)="deletePackage(itemValue)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- =============== new packages ============== -->
<div *ngIf="formView.createView">
  <div class="row">
    <div class="col-md-6 fadeInLeft">
      <div class="card">
        <div class="card-header">Add Tax</div>
        <div class="card-body">
          <form [formGroup]="taxForm" (ngSubmit)="savePackages()">
            <!-- ========= fPackage Name ======== -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Tax Name</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  required
                />
              </div>
            </div>

            <!-- ========= Package Amount ======== -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Tax Amt(%)</label
              >
              <div class="col-sm-9">
                <input
                  type="number"
                  class="form-control"
                  formControlName="percentage"
                  required
                />
              </div>
            </div>

            <!-- =============== action button ========== -->
            <div class="button-groups d-flex justify-content-center">
              <button type="submit" class="btn btn-success m-1">Submit</button>
              <button type="reset" class="btn btn-outline-danger m-1">
                Clear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
