 <!-- new modules list -->
 <div class="sidebar scrollbar scrollbar-primary">
    <ul class="nav-list">


    
      <!-- Customer Management -->
      <!-- <li class="nav-item">
        <a routerLink="/home/admin/employees" class="nav-link">
          <mat-icon>people</mat-icon><span class="text"
            >Customers</span
          ></a>
      
      </li> -->

        <!-- Subscription -->
        <li class="nav-item">
            <a routerLinkActive="list-item-active"
            routerLink="admin/dashboard" class="nav-link"> <mat-icon>dashboard</mat-icon><span class="text"> License Management</span></a>
        </li>


<!-- Billing Administration -->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <mat-icon>settings</mat-icon>
          <span class="text">Billing</span>
          <span class="caret"></span
        ></a>
        <ul class="dropdown">
          <li><a routerLink="admin/systemusers" class="dropdown-link"> Users</a></li>
          <li><a  routerLink="admin/systemroles" class="dropdown-link">Roles</a></li>
          <!-- <li><a href="#" class="dropdown-link"> Audit Logs</a></li> -->


        </ul>
      </li>
    </ul>
    <br><br>
  </div><br><br>
<!-- </mat-nav-list> -->
<!-- </div> -->
