<div class="master">
  <div class="main">
    <h4 class="fadeInRight">Welcome Admin,</h4>
    <h6>Take a glance at your customer's summary</h6>

    <div class="row fadeInRight">
      <div class="card" style="cursor: pointer" routerLink="">
        <div class="row">
          <div class="icon">
            <span>
              <h3>Joining</h3>
            </span>
            <img src="assets/images/emp.png" alt="" />
          </div>
          <div class="figure">
            <span>
              <h1>0</h1>
            </span>
          </div>
        </div>
      </div>

      <div class="card" style="cursor: pointer" routerLink="">
        <div class="row">
          <div class="icon">
            <span>
              <h3>Renewal This Month</h3>
            </span>
            <img src="assets/images/lm.jpg" alt="" />
          </div>
          <div class="figure">
            <span>
              <h1>0</h1>
            </span>
          </div>
        </div>
      </div>

      <div class="card" style="cursor: pointer" routerLink="">
        <div class="row">
          <div class="icon">
            <span>
              <h3>Renewal Next Month</h3>
            </span>
            <img src="assets/images/pro.png" alt="" />
          </div>
          <div class="figure">
            <span>
              <h1>0</h1>
            </span>
          </div>
        </div>
      </div>

      <div class="card" style="cursor: pointer" routerLink="">
        <div class="row">
          <div class="icon">
            <span>
              <h3>Total Companies</h3>
            </span>
            <img src="assets/images/asset.png" alt="" />
          </div>
          <div class="figure">
            <span>
              <h1>0</h1>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <br /> -->
    <app-companies></app-companies>
    <!-- <table
      id="excel-table"
      class="table table-bordered center table-hover fadeInTop"
      cellspacing="5"
      width="100%"
    >
      <thead class="thead-dark fw-bolder text-center">
        <tr class="fw-bolder">
          <th>#</th>
          <th>CLIENT</th>
          <th>PLAN</th>
          <th>DURATION</th>
          <th>START DATE</th>
          <th>END DATE</th>
          <th>AMOUNT (GHC)</th>
          <th>STATUS</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody *ngFor="let client of clientList; index as i">
        <tr style="text-align: center">
          <td class="align-middle" scope="row">{{ i + 1 }}</td>
          <td class="align-middle">Prefos Ltd.</td>
          <td class="align-middle">Lite (1-15)</td>
          <td class="align-middle">1 year</td>
          <td class="align-middle">20th Jan 2024</td>
          <td class="align-middle">20th Jan 2025</td>
          <td class="align-middle">5,000.00</td>
          <td class="align-middle">ACTIVE</td>
          <td>
          
            <button
              type="button"
              (click)="editFunction()"
              class="btn btn-success btn-sm m-1"
            >
              <i class="bi bi-pen-fill"></i>
            </button>

       
            <button type="button" class="btn btn-primary btn-sm m-1">
              <i class="bi bi-eye-fill"></i>
            </button>

         
            <button type="button" class="btn btn-danger btn-sm m-1">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
   
      </tbody>
    </table> -->
    <br />
  </div>
</div>
