<div class="master">

    <div class="main">

        <h4 class="fadeInRight">Welcome Admin,</h4>
        <h6>Take a glance at your customer's summary..</h6>

        <div class="row fadeInRight">

            <div class="card" style="cursor: pointer;" routerLink="">
                <div class="row">
                    <div class="icon">
                        <span>
                            <h3>Joining</h3>
                        </span>
                        <img src="assets/images/emp.png" alt="">
                    </div>
                    <div class="figure">
                        <span>
                            <h1>0</h1>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card" style="cursor: pointer;" routerLink="">
                <div class="row">
                    <div class="icon">
                        <span>
                            <h3>Renewal This Month</h3>
                        </span>
                        <img src="assets/images/lm.jpg" alt="">
                    </div>
                    <div class="figure">
                        <span>
                        <h1>0</h1>
                        </span>
                    </div>
                </div>

            </div>

            <div class="card" style="cursor: pointer;" routerLink="">
                <div class="row">
                    <div class="icon">
                        <span>
                            <h3>Renewal Next Month</h3>
                        </span>
                        <img src="assets/images/pro.png" alt="">
                    </div>
                    <div class="figure">
                        <span>
                            <h1>0</h1>
                        </span>
                    </div>
                </div>

            </div>

            <div class="card" style="cursor: pointer;" routerLink="">
                <div class="row">
                    <div class="icon">
                        <span>
                            <h3>Total Companies</h3>
                        </span>
                        <img src="assets/images/asset.png" alt="">
                    </div>
                    <div class="figure">
                        <span>
                            <h1>0</h1>
                        </span>
                    </div>
                </div>

            </div>
        </div><br>
        

        <table id="excel-table" class="table table-bordered center fadeInTop" cellspacing="5" width="100%">
            <thead style="text-align: center;" class="thead-dark">
                <tr>

                    <th>#</th>
                    <th>CLIENT</th>
                    <th>PLAN </th>
                    <th>DURATION</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>AMOUNT (GHC)</th>
                    <th>STATUS</th>

                </tr>
            </thead>
            <tbody>
                <tr 
                    style="text-align: center;">

                    <td class="align-middle" scope="row">1</td>
                    <td class="align-middle">Prefos Ltd.</td>
                    <td class="align-middle">Lite (1-15)</td>
                    <td class="align-middle">1 year</td>
                    <td class="align-middle">20th Jan 2024</td>
                    <td class="align-middle">20th Jan 2025</td>
                    <td class="align-middle">5,000.00</td>
                    <td class="align-middle">ACTIVE</td>

                </tr>
                <tr 
                style="text-align: center;">

                <td class="align-middle" scope="row">2</td>
                <td class="align-middle">Bidvest Finance</td>
                <td class="align-middle">Advantage (1-15)</td>
                <td class="align-middle">1 year</td>
                <td class="align-middle">20th Jan 2024</td>
                <td class="align-middle">20th Jan 2025</td>
                <td class="align-middle">15,000.00</td>
                <td class="align-middle">EXPIRED</td>

            </tr>
            <tr 
            style="text-align: center;">

            <td class="align-middle" scope="row">3</td>
            <td class="align-middle">Gokals Ltd.</td>
            <td class="align-middle">Advantage Plus (31-60)</td>
            <td class="align-middle">1 year</td>
            <td class="align-middle">20th Jan 2024</td>
            <td class="align-middle">20th Jan 2025</td>
            <td class="align-middle">8,000.00</td>
            <td class="align-middle">ACTIVE</td>

        </tr>

            </tbody>
        </table> <br>

    
      

    </div>

</div>

