.master {
    width: 100%;
    margin: 3% auto;
    /* padding-top: 3%; */
    height: 690px;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .main {
    width: 100%;
    height: auto;
    padding-top: 5px;
    margin: 0 auto 5%;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .card {
    /* border: 1px solid rgb(219, 219, 219); */
    box-shadow: 0 10px 20px hsl(0deg 0% 67% / 15%);
    -webkit-box-shadow: 0 10px 20px hsl(0deg 0% 67% / 15%);
    height: 96px;
    width: 22%;
    border: none;
    /* background-color: #ffffff; */
    background-image: radial-gradient(
      100% 100% at 100% 0,
      rgba(0, 0, 0, 0.753) 0,
      rgb(0, 0, 0, 0.753) 100%
    );
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    text-align: right;
    padding-right: 10px;
    margin: 44px auto;
    font-size: 24px;
    font-family: monospace;
    color: #ffffff;
  }
  
  h3 {
    color: #ffffff;
    font-family: Poppins;
    font-size: 8.5px;
  }
  
  h4 {
      font-family: 'Public Sans';
      font-size: 16px;
      font-weight: 600;
      /* background: #4fd34f1f; */
      padding-left: 20px;
      color: rgb(76, 82, 77);
      letter-spacing: -1px;
      margin: 13px;
      padding: 5px;
  }
  
  h5 {
    color: rgba(90, 90, 90, 0.788);
    font-family: poppins;
    font-size: 10px;
    padding-left: 20px;
  }
  
  h6{
      font-size: 10px;
      font-family: 'Poppins';
      padding-left: 20px;
      /* margin: -18px auto; */
  }
  
  .wrt {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .icon,
  .figure {
    /* border: 1px solid rgb(219, 219, 219); */
    height: 65px;
    width: 50%;
    margin: 15px auto;
    color: rgb(26 95 152);
  }
  
  .icon img {
    width: 24px;
    margin: 4px auto;
    border-radius: 16px;
  }

  table {
    border: 1px solid rgba(238, 238, 238, 0.445);
    box-shadow: rgb(0 0 0 / 0%) 0px 2px 4px -1px, rgb(0 0 0 / 5%) 0px 4px 5px 0px,
      rgb(0 0 0 / 2%) 0px 1px 10px 0px;
    width: 95%;
    font-size: 9px;
    font-family: poppins;
    margin: 0 auto;
  }

  table thead {
    color: #424242;
    text-transform: capitalize;
    font-weight: 500;
  }