<div class="container-fluid">
  <h3 class="mt-5">Invoices</h3>
  <hr />

  <!-- ================ loading spinner =============== -->
  <div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- =============== invoice list  table =============== -->
  <table
    *ngIf="loading == false && formView.listView"
    id="excel-table"
    class="table table-bordered center table-hover fadeInTop mt-1"
    cellspacing="5"
    width="100%"
  >
    <thead class="thead-dark fw-bolder text-center">
      <tr class="fw-bolder">
        <th>#</th>
        <th>CLIENT</th>
        <th>EMAIL</th>
        <!-- <th>AMOUNT</th> -->
        <!-- <th>START DATE</th>
        <th>END DATE</th> -->
        <th>AMOUNT (GHC)</th>
        <th>STATUS</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody *ngFor="let invoice of invoiceList; index as i">
      <tr>
        <td class="align-middle" scope="row">{{ 1 + i }}</td>
        <td class="align-middle">
          {{ invoice.customer.first_name }} {{ invoice.customer.last_name }}
        </td>
        <td class="align-middle">{{ invoice.customer.email }}</td>
        <!-- <td class="align-middle">{{ invoice.amount }}</td> -->
        <!-- <td class="align-middle">20th Jan 2024</td>
        <td class="align-middle">20th Jan 2025</td> -->
        <td class="align-middle text-end">
          {{ invoice.amount | number : "1.2" }}
        </td>
        <td class="align-middle">{{ invoice.status | titlecase }}</td>
        <td class="text-end">
          <!-- ============== edit button ========= -->
          <!-- <button
            type="button"
            (click)="editTaxesFunction(invoice.tax[0])"
            class="btn btn-success btn-sm m-1"
          >
            <i class="bi bi-pen-fill"></i>
          </button> -->

          <!-- ============ view detaiils button ========== -->
          <button
            class="btn btn-outline-success btn-sm m-1"
            (click)="viewDetails(invoice)"
          >
            View
          </button>

          <!-- ============ delete   button ========== -->
          <!-- <button type="button" class="btn btn-danger btn-sm m-1">
            <i class="bi bi-trash-fill"></i>
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- =================== detailed view ================ -->

  <div class="container" *ngIf="formView.detailView">
    <!-- =============== close button ======= -->
    <div class="d-flex justify-content-end mb-2">
      <button class="btn btn-primary" (click)="viewDetails('')">Close</button>
    </div>
    <div class="row">
      <!-- customer details Section -->
      <div class="col-md-6 fadeInLeft">
        <div class="card mb-3 custom-card">
          <div class="card-header font-weight-bold">Customer Details</div>
          <div class="card-body">
            <!-- <form> -->
            <!-- ========= first name ======== -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >First name</label
              >
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.customer.first_name }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <!-- ========last name ========= -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Last name</label
              >
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.customer.last_name }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>

            <!-- ========Phone Number ========= -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Phone Number
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.customer.phone }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <!-- ========Email Address ========= -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Email Address
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.customer.email }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>

            <!-- ======== description ========= -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Description
              </label>
              <div class="col-sm-9">
                <!-- <input
                  value=" {{ detailInfo.customer.email }}"
                  class="form-control"
                  disabled
                /> -->
                <textarea
                  class="form-control"
                  [value]="detailInfo.description"
                  rows="3"
                  disabled
                ></textarea>
              </div>
            </div>

            <!-- </form> -->
          </div>
        </div>
      </div>

      <!-- account details Section -->
      <div class="col-md-6 fadeInRight">
        <div class="card mb-3 custom-card">
          <div class="card-header font-weight-bold">Account Details</div>
          <div class="card-body">
            <!-- <form> -->
            <!-- ========Account Status========= -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Account Status
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.status | titlecase }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <!-- ========Amount ========= -->

            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Amount
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.amount | number : '1.2' }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <!-- ========payment Status ========= -->

            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Payment Status
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ (detailInfo.paid && 'Paid') || 'Not Paid' }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <!-- ========Currency   ========= -->

            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Currency
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.currency }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>

            <!-- ========date of payment   ========= -->
            <div class="mb-3 row" *ngIf="detailInfo.paid == true">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Date of payment
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.paid_at }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>

            <!-- ========due date   ========= -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                >Due date
              </label>
              <div class="col-sm-9">
                <input
                  value=" {{ detailInfo.due_date }}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>

      <!-- Packages and Taxes-->
      <div class="col-md-6 fadeInLeft mb-2">
        <div class="card custom-card">
          <div class="card-header font-weight-bold">Packages and Taxes</div>
          <div class="card-body">
            <!-- <form> -->
            <!-- ========date of payment   ========= -->
            <div class="mb-3">
              <h5 class="items-title">Taxes</h5>
              <p *ngIf="detailInfo.tax.length == 0">No taxes to display</p>
              <div
                class="row mb-1"
                *ngFor="let tax of detailInfo.tax; index as i"
              >
                <label for="inputPassword" class="col-sm-4 col-form-label"
                  >{{ tax.name }}
                </label>
                <div class="col-sm-8">
                  <input
                    value=" {{ detailInfo.amount | number : '1.2' }}"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
            </div>

            <!-- ========date of payment   ========= -->
            <div class="mb-3">
              <h5 class="items-title">Packages</h5>
              <p *ngIf="detailInfo.line_items.length == 0">
                No packages to display
              </p>

              <div
                class="row mb-1"
                *ngFor="let tax of detailInfo.line_items; index as i"
              >
                <label for="inputPassword" class="col-sm-4 col-form-label"
                  >{{ tax.name }}
                </label>
                <div class="col-sm-8">
                  <input
                    value=" {{ detailInfo.amount | number : '1.2' }}"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
            </div>
            <!-- edit button -->
            <!-- <div class="d-flex justify-content-end mb-2">
              <button
                class="btn btn-primary"
                (click)="editTaxesFunction(detailInfo.tax[0])"
              >
                Edit Taxes
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=====================================================================
                not being used but kept for future reference
  ==================================================================  -->

<!-- =================== edit view ================ -->
<div *ngIf="formView.createView">
  <!-- =============== close button ======= -->
  <div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary" (click)="viewDetails('')">Close</button>
  </div>

  <div class="row">
    <div class="col-md-6 fadeInRight">
      <!-- =============== editing form ==================== -->
      <div class="card">
        <div class="card-header">Tax</div>
        <div class="card-body">
          <form [formGroup]="taxForm" (ngSubmit)="savePackages()">
            <!-- ========= fPackage Name ======== -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-4 col-form-label"
                >Tax Name</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  required
                />
              </div>
            </div>

            <!-- ========= Package Amount ======== -->
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-4 col-form-label"
                >Tax Amt(%)</label
              >
              <div class="col-sm-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="amount"
                  required
                />
              </div>
            </div>

            <!-- =============== action button ========== -->
            <div class="button-groups d-flex justify-content-center">
              <button type="submit" class="btn btn-success m-1">Submit</button>
              <button type="reset" class="btn btn-outline-danger m-1">
                Clear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
