<div class="container-fluid">
  <h3 class="mt-5">Companies</h3>
  <hr />

  <!-- ================ loading spinner =============== -->
  <div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- ==================== company list table ========== -->
  <table
    *ngIf="loading == false && formView.listView"
    id="excel-table"
    class="table table-bordered center table-hover fadeInTop mt-1"
    cellspacing="5"
    width="100%"
  >
    <thead class="thead-dark fw-bolder text-center">
      <tr class="fw-bolder">
        <th>#</th>
        <th>COMPANY</th>
        <th>CLIENT</th>
        <th>EMAIL</th>
        <th>CONTACT</th>
        <th>LOCATION</th>
        <!--  <th>END DATE</th> -->
        <!-- <th>AMOUNT (GHC)</th> -->
        <th>STATUS</th>
        <!-- <th>ACTION</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let company of companyList; index as i">
      <tr (click)="viewDetails(company)" class="table-cell">
        <td class="align-middle" scope="row">{{ 1 + i }}</td>
        <td class="align-middle">
          {{ company.company }}
        </td>
        <td class="align-middle">
          {{ company.name }}
        </td>
        <td class="align-middle">{{ company.email }}</td>
        <td class="align-middle">{{ company.phone }}</td>
        <!-- <td class="align-middle">20th Jan 2024</td>
        <td class="align-middle">20th Jan 2025</td> -->
        <td class="align-middle">{{ company.location }}</td>
        <td class="align-middle">{{ company.status }}</td>
        <!-- <td> -->
        <!-- ============== edit button ========= -->
        <!-- <button
            type="button"
            (click)="editFunction()"
            class="btn btn-success btn-sm m-1"
          >
            <i class="bi bi-pen-fill"></i>
          </button> -->

        <!-- ============ view detaiils button ========== -->
        <!-- <button type="button" class="btn btn-primary btn-sm m-1">
            <i class="bi bi-eye-fill"></i>
          </button> -->

        <!-- ============ delete   button ========== -->
        <!-- <button type="button" class="btn btn-danger btn-sm m-1">
            <i class="bi bi-trash-fill"></i>
          </button> -->
        <!-- </td> -->
      </tr>
    </tbody>
  </table>

  <!-- ======================== detailed view =============== -->
  <div class="container" *ngIf="formView.detailView">
    <div class="d-flex justify-content-end mb-2">
      <button class="btn btn-primary" (click)="viewDetails('')">Close</button>
    </div>
  </div>
</div>
